@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LeagueSpartan';
  src: url('/fonts/league_spartan/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Adjust according to the weights available in your font */
  font-style: bold;
}

@font-face {
  font-family: 'Spartan';
  src: url('/fonts/Spartan-Light.ttf') format('truetype');
  font-style: light;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  font-family: 'Spartan', sans-serif,;
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
